{% extends 'picladmin/base.html' %}
{% block page_title %}
Add Pc
{% endblock page_title %}
{% block main_content %}

<section class="content">
      <div class="container-fluid">
<div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Provati Insurance Company Ltd</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Pc Serial</label>
                        <input type="text" class="form-control" placeholder="Serial" name="serial">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Pc Type</label>
                       <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                                <option selected="selected" data-select2-id="11">Laptop</option>
                                <option data-select2-id="48">Desktop</option>
                       </select>
                      </div>
                    </div>
                    <di class="col-sm-3">
                      <div class="form-group">
                        <label>Pc Brand</label>
                        <input type="text" class="form-control" placeholder="pc Brand" name="pc_brand">
                      </div>
                    </di>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Brand Serial</label>
                        <input type="text" class="form-control" placeholder="pc Brand Serial" name="pc_brand">
                      </div>
                    </div>
                    </div>
                  <div class="row">
                     <div class="col-sm-6">
                      <!-- text input -->
                        <div class="form-group">
                         <label>MainBoard Brand</label>
                          <input type="Text" class="form-control" placeholder="Text">
                       </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>MainBoard Serial</label>
                          <input type="Text" class="form-control" placeholder="Text">
                        </div>
                    </div>
                  </div>

                   <div class="row">
                    <div class="col-sm-4">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Processor Type</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                    <option selected="selected" data-select2-id="11">Intel_i3</option>
                    <option data-select2-id="48">Intel_i5 </option>
                          <option data-select2-id="49">Intel_Dual_core</option>
                          <option data-select2-id="50">Intel_i7</option>
                          <option data-select2-id="51">Intel_pentium4</option>
                          <option data-select2-id="52">Amd-rizen</option>
                        </select>
                      </div>
                    </div>
                     <div class="col-sm-4">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Processor GEN</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                    <option selected="selected" data-select2-id="11">2nd Gen</option>
                            <option data-select2-id="11">3rd Gen</option>
                            <option data-select2-id="48">4th Gen</option>
                          <option data-select2-id="49">5th Gen</option>
                          <option data-select2-id="50">6th Gen</option>
                          <option data-select2-id="51">7th Gen</option>
                          <option data-select2-id="52">8th Gen</option>
                          <option data-select2-id="53">9th Gen</option>
                           <option data-select2-id="54">10th Gen</option>
                        </select>
                      </div>
                    </div>
                       <div class="col-sm-4">
                      <!-- text input -->
                        <div class="form-group">
                         <label>Processor Serial</label>
                          <input type="Text" class="form-control" placeholder="Processor Serial">
                       </div>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Ram Brand</label>
                        <input type="text" class="form-control" placeholder="Ram Brand">
                      </div>
                    </div>
                       <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Ram Type</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                            <option selected="selected" data-select2-id="11">DDR2</option>
                            <option data-select2-id="11">DDR3</option>
                            <option data-select2-id="48">DDR4</option>
                        </select>
                      </div>
                    </div>
                       <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Ram Size</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                            <option selected="selected" data-select2-id="48">4GB</option>
                            <option data-select2-id="11">1GB</option>
                            <option data-select2-id="12">2GB</option>
                            <option data-select2-id="48">4GB</option>
                            <option data-select2-id="48">8GB</option>
                        </select>
                      </div>
                    </div>
                       <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Ram Serial</label>
                        <input type="text" class="form-control" placeholder="Ram Serial">
                      </div>
                    </div>
                  </div>
                    <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>HDD Brand</label>
                        <input type="text" class="form-control" placeholder="HDD Brand">
                      </div>
                    </div>
                       <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>HDD Type</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                            <option selected="selected" data-select2-id="11">SATA</option>
                            <option data-select2-id="11">SSD</option>
                            <option data-select2-id="48">NVME m.2</option>
                        </select>
                      </div>
                    </div>
                       <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>HDD Size</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                            <option selected="selected" data-select2-id="48">128GB</option>
                            <option data-select2-id="11">220GB</option>
                            <option data-select2-id="12">250GB</option>
                            <option data-select2-id="48">500GB</option>
                            <option data-select2-id="48">1TB</option>
                            <option data-select2-id="48">2TB</option>
                        </select>
                      </div>
                    </div>
                       <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>HDD Serial</label>
                        <input type="text" class="form-control" placeholder="HDD Serial">
                      </div>
                    </div>
                  </div>
                    <div class="row">
                     <div class="col-sm-6">
                      <!-- text input -->
                        <div class="form-group">
                         <label>DVD Brand</label>
                          <input type="Text" class="form-control" placeholder="DVD Brand">
                       </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>DVD Serial</label>
                          <input type="Text" class="form-control" placeholder="DVD Serial">
                        </div>
                    </div>
                  </div>
                     <div class="row">
                     <div class="col-sm-4">
                      <!-- text input -->
                        <div class="form-group">
                         <label>start using</label>
                          <input type="date" class="form-control" placeholder="date">
                       </div>
                    </div>
                         <div class="col-sm-4">
                      <!-- text input -->
                        <div class="form-group">
                         <label>PC user</label>
                          <input type="Text" class="form-control" placeholder="Pc user">
                       </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label>Submit By</label>
                          <input type="Text" class="form-control" placeholder="Submit by">
                        </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

              </form>
            </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}