{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home_content" class="brand-link">
      <img src= {% static "dist/img/AdminLTELogo.png" %} alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src= "{% static "dist/img/user2-160x160.jpg" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="mt-2"> <!-- collaps system -->
        <ul class="nav nav-pills nav-sidebar flex-column"  role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class

              with font-awesome or any other icon font library -->
            <li  class="nav-item  menu-open">
              <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>




            </li>
        </ul>
      </ul>


    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

<!-- staff add template -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Employee Info
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
           <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                add staff
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
         </li>


          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Edit Staff
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

            </ul>
          </li>


<!-- info add template -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                ADD info
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/add_pc" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Pc
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_monitor" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Monitor
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_printer" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Printer
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_ups" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add UPS
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_switch" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Switch
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

         <li class="nav-item">
            <a href="/add_scanner" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Scanner
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>


            </ul>
          </li>
 <!-- info Edit template -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Edit Info
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">


           <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Change Pc
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Change Monitor
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Change Printer
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Change UPS
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Change Switch
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

         <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Change Scanner
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

            </ul>
          </li>
 <!-- Service info template -->
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Service
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">


           <li class="nav-item">
            <a href="/picl_service" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Service
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

            </ul>
          </li>

            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Statement
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">


           <li class="nav-item">
            <a href="/picl_service_bill" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Service Bill
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/picl_product_bill" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Purchase Bill
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

            </ul>
          </li>
        </ul>
      </nav>

      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>